* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #014282;
}

@font-face {
  font-family: FbSpoiler-Black;
  src: url(./fonts/FbSpoiler-Black.otf);
}

@font-face {
  font-family: FbSpoiler-Bold;
  src: url(./fonts/FbSpoiler-Bold.otf);
}

@font-face {
  font-family: BalooTammudu2-SemiBold;
  src: url(./fonts/BalooTammudu2-SemiBold.ttf);
}

@font-face {
  font-family: FbSpoiler-Regular;
  src: url(./fonts/FbSpoiler-Regular.otf);
}

@font-face {
  font-family: FbSpoiler-Light;
  src: url(./fonts/FbSpoiler-Light.otf);
}

@font-face {
  font-family: AdobeHebrew-Regular;
  src: url(./fonts/AdobeHebrew-Regular.otf);
}

body {
  background: url("./images/sky.webp") no-repeat center fixed;
  background-size: 100% 100%;
  border: 10px solid white;
}

.container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.black-font {
  font-family: "FbSpoiler-Black";
}

#svg-accessiblity {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  color: white;
  padding: 5px;
  font-size: 30px;
  transition: left 0.3s ease-in-out;
}

.sidebar {
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 45px;
  z-index: 3;
  background-color: rgb(249 245 245);
  width: 300px;
}

.sidebar ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  background-color: white;
  font-size: 16px;
  display: flex;
  gap: 10px;
}

.sidebar ul li:hover {
  background-color: rgb(193, 191, 191);
  color: white;
}

#hiddenSidebar {
  display: none;
  /* flex-direction: column; */
  text-align: right;
  transition: left 0.3s ease-in-out;
}

.sidebar #crossIcon:hover {
  cursor: pointer;
}

.sidebar ul li:hover {
  cursor: pointer;
}

.sidebar #svg-accessiblity:hover {
  cursor: pointer;
}

#hiddeSidebar {
  visibility: none;
}

/* accesbility colors */
.bg-color {
  background-color: #fd7e14;
}

.bg-color2 {
  background-color: #343a4a !important;
}

.main-title-desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-desktop h1 {
  font-size: 130px;
  color: white;
  font-family: "FbSpoiler-Black";
  letter-spacing: 2px;
  text-align: center;
  white-space: nowrap;
}

.midSection {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
}

.desktop-right {
  display: flex;
  flex-direction: column;
}

.desktop-right p {
  text-align: right;
  font-size: 35px;
  font-family: "FbSpoiler-Bold";
}

.desktop-right .desktop-image {
  margin-top: 150px;
}

.desktop-right .desktop-image img {
  height: 600px;
  width: 100%;
}

.left-desktop-center-mobile-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: var(--primary-color);
  font-size: 50px;
  text-align: center;
  font-family: FbSpoiler-bold;
  white-space: nowrap;
}

.hero-subtitle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  color: var(--primary-color);
  font-size: 40px;
  text-align: center;
  font-family: "FbSpoiler-Regular";
  padding-top: 6px;
  white-space: nowrap;
}


.prize-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "FbSpoiler-bold";
}

.hero-container .prize-container h1 {
  text-align: center;
  font-size: 50px;
  white-space: nowrap;
  letter-spacing: 1px;
}

.hero-container .line {
  width: 60%;
  /* Half the width of the screen */
  margin: 0 auto;
  /* Center the line horizontally */
  border-top: 2px solid white;
  /* Horizontal line */
  margin: 5px 0;
}

.hero-container .line:nth-child(1) {
  margin-top: 25px;
}

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 30px 20px;
  margin-top: 20px;
  row-gap: 15px;
  margin-top: 15px;
  z-index: 3;
  gap: 30px;
}

.card .button-container {
  display: flex;
  justify-content: center;
}

.card button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 40px;
  font-family: FbSpoiler-Black;
  background-color: transparent;
  border-radius: 15px;
  width: 50%;
  margin: 0;
}

button:hover {
  cursor: pointer;
  background: lightblue;
}

select {
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-weight: bold;
}

.select2:hover {
  cursor: pointer;
}

option {
  color: black;
}

.card input {
  width: 400px;
  background: transparent;
  font-family: FbSpoiler-Bold;
  font-size: 25px;
  height: 35px;
  color: #014282;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 30px;
}

input::placeholder {
  color: var(--primary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: #014282;
}

.input_error {
  position: relative;
}

.tooltip_error {
  padding: 5px 10px;
  line-height: 1.3847;
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 10px;
  background: #fff;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  -ms-transform: scale(0.95) translate(0, 4px);
  -moz-transform: scale(0.95) translate(0, 4px);
  -webkit-transform: scale(0.95) translate3d(0, 4px, 0);
  transform: scale(0.95) translate(0, 4px);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 9;
  color: #223d79;
  transition: 0.2s ease-out all;
  visibility: hidden;
}

.tooltip_error::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
}

.select2 {
  margin-bottom: 10px;
  height: 35px;
  width: 100% !important;
  max-width: 400px;
  border: 1px solid var(--primary-color);
  background: transparent !important;
  color: #014282;
  font-size: 25px;
  border-radius: 8px;
  font-family: "FbSpoiler-Bold";
  display: flex;
  align-items: center;
  padding: 30px;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border: none !important;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 0 !important;
  color: #014282 !important;
}

.select2-selection__placeholder {
  color: #014282 !important;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  top: 15px;
  left: 1px;
  right: auto;
}

.select2-selection__arrow b {
  border-color: #014282 transparent transparent transparent !important;
}

.btn {
  background-color: rgb(31, 31, 83);
  color: white;
  border: none;
  font-size: 23px;
  padding: 6px 0;
  z-index: 100;
  cursor: pointer;
  margin-top: 15px;
  font-family: FbSpoiler-Bold;
}

hr {
  color: white;
  height: 10px;
  background-color: white;
  border: none;
  width: 100%;
  margin-top: -15px;
}

.animate_opacity {
  opacity: 0;
  transform: translateY(-300px);
  transition: opacity 0.9s, transform 0.9s;
}

.animate_opacity.show {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: rgb(78, 163, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  position: relative;
}

.footer .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -80px;
}

.footer .logo-container .logo-image {
  width: 150px;
  height: 150px;
  z-index: 1;
}

.footer-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 80px;
}

.footer .footer-title,
.footer-slogan {
  color: white;
  font-family: "FbSpoiler-Bold";
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
}

.footer .footer-slogan {
  font-size: 35px;
  color: white;
  font-family: "FbSpoiler-Regular";
  letter-spacing: 2px;
  text-align: center;
  font-weight: lighter;
  white-space: nowrap;
  margin: 20px;
}

.black-font {
  font-family: "FbSpoiler-Black" !important;
}

.footer .footer-title p {
  margin-bottom: 10px;
}

.contact-tel {
  text-decoration: none;
  color: white;
}

.contact-tel:hover {
  color: #C1D833;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {

  .main-title-mobile,
  .mobile-hero-solgan,
  .mobile-image,
  .footer-mobile {
    display: none;
  }
}

@media only screen and (max-width: 999px) {

  .main-title-desktop,
  .desktop-right,
  .desktop-left-content,
  .footer-desktop,
  .prize-container {
    display: none;
  }

  .line {
    width: 130px;
    /* Half the width of the screen */
    margin: 0 auto;
    /* Center the line horizontally */
    border-top: 2px solid white;
    /* Horizontal line */
    margin: 5px 0;
  }

  .line:nth-child(1) {
    margin-top: 25px;
  }

  .main-title-mobile {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "FbSpoiler-bold";
  }

  .main-title-mobile h1 {
    text-align: center;
    font-size: 32px;
    white-space: nowrap;
  }

  .main-title img {
    display: flex;
  }

  .midSection {
    flex-direction: column;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-hero-solgan {
    width: 100%;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "FbSpoiler-bold";
  }

  .mobile-hero-solgan h1 {
    text-align: center;
    font-size: 37px;
    white-space: nowrap;
  }

  .hero-title {
    color: var(--primary-color);
    font-size: 25px;
    text-align: center;
    font-family: FbSpoiler-Black;
    padding-top: 6px;
    white-space: nowrap;
    color: white;
  }

  .hero-subtitle-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .hero-subtitle {
    color: var(--primary-color);
    font-size: 25px;
    text-align: center;
    font-family: FbSpoiler-bold;
    padding-top: 6px;
    white-space: nowrap;
    color: white;
  }

  .card {
    max-width: 100vw;
    min-width: 50vw;
    padding: 0;
    gap: 25px;
  }

  .card input,
  .card .select2 {
    max-width: 270px;
    padding: 25px;
  }

  .button-container {
    margin-bottom: 40px;
  }

  .card button {
    width: 200px;
  }

  .mobile-image {
    justify-content: center;
    margin-left: 10px;
    margin-bottom: -20px;
  }

  .mobile-image img {
    width: 100%;
  }

  hr {
    margin-bottom: 1px;
  }

  .footer {
    background-color: rgb(78, 163, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    position: relative;
  }

  .footer-mobile {
    padding: 25px 0;
  }

  .footer .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
  }

  .footer .logo-container .logo-image {
    width: 75px;
    height: 75px;
    z-index: 1;
  }

  .footer .footer-title {
    font-size: 120%;
    color: white;
    font-family: "FbSpoiler-Regular";
    letter-spacing: 2px;
    text-align: center;
    font-weight: lighter;
    white-space: nowrap;
    margin: 20px;
  }

  .black-font {
    font-family: "FbSpoiler-Black" !important;
  }

  .footer .footer-contact {
    font-size: 120%;
    color: white;
    font-family: "FbSpoiler-Regular";
    letter-spacing: 2px;
    text-align: center;
    font-weight: lighter;
    white-space: nowrap;
  }
}